article {
    background: white;
    border-radius: 5px;
    box-shadow: 0 7px 34px 0 hsl(0, 0%, 91%), 0 3px 6px 0 hsl(0, 0%, 95%);
    padding: 24px;
    padding-top: 12px;
    width: 100%;
    margin-top: 10px;
  }
  .detail-header {
    align-items: center;
    display: flex;
    img {
      margin-right: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .detail-header {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  .pokemon-title {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }

  .pokemon-type-container {
    align-items: center;
    display: flex;
  }
  /* ——————— POKEMON STATS */

  .stats-grid {
    border: 1px solid #f3f3f3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    text-align: center;
    width: 100%;
  }

  .stat-item {
    align-items: center;
    border: 1px solid #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
  }

  .stat-header {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .stat-header-long {
    font-size: 1rem;
    font-weight: 600;
  }

  .stat-body {
    font-size: 0.85rem;
    margin-top: 8px;
    opacity: 0.8;
    text-transform: uppercase;
  }